<div class="myclass avatar symptom-cause">
  <md-card class="cards tile">
      <div layout="row" class="header_bar">
        <md-subheader class="md-no-sticky" flex="90">
          <div class="container_title"><b>Prescription Medications</b></div>
        </md-subheader>
        <md-button flex="10" class="md-icon-button md-primary close_btn margin-top-bottom" aria-label="close" ng-click="wcig_medications_vm.closeView()" layout="center center">
          <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
        </md-button>
      </div>

        <md-card-content>
          <perfect-scrollbar ng-style="wcig_medications_vm.viewheight" class="scroller symptoms-bar_blank_div" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
            
            <div class="symptoms-bar_list_view" infinite-scroll='medications_vm.loadMore()' infinite-scroll-disabled='medications_vm.busy' infinite-scroll-distance='1'>
                <md-list class="list_view">
                  <md-list-item ng-repeat='medication_list in wcig_medications_vm.wcig_medication_list track by medication_list.id' ui-sref-active="list_active" ui-sref=".medications_overview({medication_id:(medication_list.is_brand?medication_list.salt_id:medication_list.id), medication_name:medication_list.name})"><md-button><div>{{medication_list.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
                </md-list>
            </div>
          </perfect-scrollbar>
        </md-card-content>

  </md-card>


</div>

<ui-view></ui-view>
