<div class="avatar">
    <md-card class="cards tile">
        <md-subheader class="md-no-sticky">
            <div class="container_title container_title-w85"><b> Where Could I Go ? </b></div>
            <!--<md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="allsymptom_cause_vm.closeView()">
                <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
            </md-button>-->
        </md-subheader>
        <md-card-content id="gender-filter">
            <!-- <div layout="column"  ng-hide="false">
              <md-content  ng-hide="isUserLocationFind"> -->
                <!-- <user-location-template></user-location-template> -->
                 <!-- <div layout="row" layout-align="center center">
                    <h2 style="margin: 0px">Please specify your location</h2>
                     <hr>
                 </div>
                 <div  layout="row" layout-padding>
                    <md-content md-theme="docs-dark"  class="search-bar"  >
                        <md-input-container>
                          <label style="color: #f5f5f5;border-color: rgba(245, 31, 31, 0.12);">Search</label>
                          <input ng-model="symptom_all_vm.filterList">
                        </md-input-container>
                    </md-content>
                 </div>
                 <div layout-padding layout="row">
                    <md-content>
                        <h2>Please choose your location </h2>
                        <md-button class="md-icon-button md-warn" aria-label="location">Choose
                        </md-button>
                        <h3 style="margin: 0px">e.g. New York</h3>
                    </md-content>
                 </div> -->

              <!-- </md-content>
           </div> -->
            <div>
                <div ng-hide="false">
                    <md-progress-circular  class="md-hue-2 loading" md-mode="indeterminate" ng-show="procedures_overview_vm.isLoading"></md-progress-circular>
                    <perfect-scrollbar class="scroller symptoms-bar_blank_div" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                        <md-content  ng-hide="isUserLocationFind" style="background:rgb(66, 66, 66); padding:10px">
                            <user-location-template></user-location-template>
                        </md-content>
                    </perfect-scrollbar>
                </div>
                <md-progress-circular  class="md-hue-2 loading" md-mode="indeterminate" ng-show="false"></md-progress-circular>
                    <perfect-scrollbar ng-hide ="true" class="scroller symptoms-bar_blank_div" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                        <div class="symptoms-bar_list_view"  >
                            <md-card class=""  layout="row">
                                <div flex="5" style="margin-top: 1%"><md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/check.svg"></md-icon></div>
                                    <div flex="90" style="padding-left: 2%;">
                                        <md-list class="list_view" >
                                             <md-list-item layout="row" selected-item-change muppet-active="muppetActive1" >
                                             <md-button>
                                                <div><b>Emergency Department</b></div>
                                                <div style="width: 100%; white-space: normal;text-align: justify;">
                                                    Open 24 x7 - For any acute condition Appropria te choice for this condition
                                                </div>
                                             </md-button>
                                             </md-list-item>
                                        </md-list>
                                </div>
                                <div flex="5" style="margin-top: 8%"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                                <md-divider style="border-bottom-color: #008000"></md-divider>
                            </md-card>

                            <md-card class=""  layout="row">
                                <div flex="5" style="margin-top: 1%"><md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon></div>
                                    <div flex="90" style="padding-left: 2%;">
                                        <md-list class="list_view" >
                                            <md-list-item layout="row" selected-item-change muppet-active="muppetActive1" >
                                                <md-button>
                                                    <div><b>Emergency Department</b></div>
                                                    <div style="width: 100%; white-space: normal;text-align: justify;">
                                                        Open 24 x7 - For any acute condition Appropriate choice for this condition
                                                    </div>
                                                </md-button>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                <div flex="5" style="margin-top: 8%"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                                <md-divider style="border-bottom-color: #008000"></md-divider>
                            </md-card>
                        </div>
                    </perfect-scrollbar>
                </div>
            </md-card-content>
        </md-card>
    <script>
        var slideHeight = $(window).height();
        slideHeight = slideHeight-171;
        $('.symptoms-bar_blank_div').css('height',slideHeight);

        $(window).resize(function(){'use strict',
            $('.symptoms-bar_blank_div').css('height',slideHeight);
        });
    </script>
</div>