<div id="symptomsWrap">
    <div class="center-container row-fluid" id="sympotmPage">
        <div class="center-row">
               <!--space for first list view-->
        <div class="myclass symptoms-bar">
             <!-- Body Loader -->
          <!--<div class="se-pre-con"></div>-->
          <!-- Ends -->
          <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                <!-- <img src="ajax-loader.gif" class="loading"> -->
                    <!-- tabs -->
                    <div class="tabbable full-width-tabs">
                      <ul class="nav nav-tabs">
                        <li class="take-all-space-you-can"><a href="#symptoms"  data-toggle="tab">AVATAR</a></li>
                        <li class="active take-all-space-you-can"><a href="symptoms/allsymptoms" data-toggle="tab" ui-sref="allsymptoms">ALL SYMPTOMS</a></li>

                      </ul>
                      <div class="tab-content">

                        <div class="tab-pane active symptoms-bar_blank_div" id="all_symptoms">
                            <!-- <div class="symptoms-bar_list_view" ng-show="symptom_all_vm.isAllSymptoms">
                               <ul class="list-group">
                                    <li ng-repeat="symptoms in symptom_all_vm.symptomsList | filter:symptom_all_vm.searchText"><a href="symptoms/({symptoms.id})"  ui-sref="causes({id:symptoms.id, title_name:symptoms.Name})" class="list-group-item active">{{symptoms.Name}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>

                               </ul>

                            </div> -->
                            
                            <div id="avatar">
                            <div class="symptoms-bar_blank_div">

                              <a href="#/symptoms/male_back" ui-sref="symptoms/male_back">Rotate</a>
                              <a href="#/symptoms/female" ui-sref="symptoms/female" style="float:right">Gender</a>

                                <div class="avatar_width">
                                        <img src="lib/image/avatar/male.gif" usemap="#avatarMale"/>
                                        <map id="avatar_male" name="avatarMale">
                                        <area href="#" avatar-key="head" ui-sref="symptom_front({avatar_id:'head', avatar_code:'0', avatar_url:'http://52.74.163.60/api/symptoms_list/male/head/'})" full="head" shape="poly" coords="627,272,613,272,598,242,588,210,586,168,594,161,605,163,617,182,606,126,613,85,640,40,687,12,735,0,780,5,808,16,845,44,866,73,877,118,873,163,868,181,883,160,894,160,898,170,897,200,891,223,884,241,868,273,854,266,855,286,835,323,811,352,770,384,733,387,700,376,684,360,664,336,638,317,628,292">
                                        <area href="#" avatar-key="back" ui-sref="symptom_front({avatar_id:'chest', avatar_code:'0', avatar_url:'http://52.74.163.60/api/symptoms_list/male/chest/'})" full="chest" shape="poly" coords="503,490.00000089480534,460,641.0000008948053,413,696.0000008948053,482,763.0000008948053,548,800.0000008948053,631,813.0000008948053,718,805.0000008948053,834,812.0000008948053,884,812.0000008948053,938,801.0000008948053,977,787.0000008948053,1021,752.0000008948053,1038,731.0000008948053,1084,702.0000008948053,1024,646.0000008948053,978,494.00000089480534,820,515.0000008948053,751,532.0000008948053,718,534.0000008948053,695,525.0000008948053,648,513.0000008948053">
                                        </map>


                                </div>
                              </div>


                            </div>


                        </div>

                       </div>
                    </div>
                    <!-- /tabs -->

                </div>

              </div>
          </div>
        </div>

        <ui-view class="tempclass2"></ui-view>
      </div>
      
        
    </div>

</div>
