<div class="avatar symptom-cause" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="80">
                <div class="container_title"><b>My Procedure</b></div>
            </md-subheader>
            <div flex="20" layout="center center" class="margin-top-bottom">
                <div layout="row" style="margin-top:-3%">
                    <md-button flex class="md-icon-button md-primary pull-right" aria-label="Filter" ng-click="myprocedures_vm.filterMyProcedure()">
                        <md-icon md-svg-icon="{{static_path}}lib/image/filter/128x128.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myprocedures_vm.closeView()">
                        <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>

        <md-card-content id="gender-filter">
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="myprocedures_vm.isLoading"></md-progress-circular>

            <div layout="row" ng-show="myprocedures_vm.isFilterMyProcedure" class="medication_filter_div">
              <md-button flex ng-click="myprocedures_vm.filterByName()">
                <b>Name</b>
                <span class="glyphicon glyphicon-chevron-down pull-right glyphicon-custom" style="margin : auto auto" ng-class="({glyphicon_rotate : myprocedures_vm.isNameAccending})"></span>
              </md-button>
              <md-button flex ng-click="myprocedures_vm.filterByDate()">
                <b>Date</b>
                <span class="glyphicon glyphicon-chevron-down pull-right glyphicon-custom" style="margin : auto auto" ng-class="({glyphicon_rotate : myprocedures_vm.isDateAccending})"></span>
              </md-button>
            </div>

            <perfect-scrollbar ng-style="myprocedures_vm.viewheight" class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                  <div layout="column" layout-padding>
                        <md-card ng-repeat="procedure in myprocedures_vm.proceduresName">
                            <md-button layout="row" style="text-align:left; text-transform:none" ui-sref=".myproceduresoverview({ myProcedureId : procedure.id})" ui-sref-active="list_active">
                                <md-list flex="100">
                                    <md-list-item layout="row">
                                        <div flex="95">
                                            <div class="text-ellipsis"><b>{{ procedure.procedure }}</b></div><md-divider></md-divider>
                                            <div style="text-align: center;">{{ procedure.date }}</div>
                                        </div>
                                        <div flex="5" style="margin : auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                                    </md-list-item>
                                </md-list>
                            </md-button>
                            <md-divider></md-divider>
                        </md-card>

                        <md-button style="text-align:left; text-transform:none" ui-sref=".myproceduresoverview({ myProcedureId : 'addProcedure'})" style="backgrond:black">
                            <div layout="row" style="background:black">
                                <div flex="90" style="padding-left: 2%;">
                                    <md-list>
                                        <md-list-item layout="row">
                                            <div style="height: 48px; padding-top:15px;"><b>[+] Add Family Member</b></div>
                                        </md-list-item>
                                    </md-list>
                                </div>
                                <div flex="5" style="margin: auto auto"><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span></div>
                            </div>
                        </md-button>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>
<ui-view></ui-view>

