<div class="avatar symptom-cause" layout = "column" flex style="width: 575px">
    <md-card class="cards tile">
        <md-subheader class="md-no-sticky">

            <div class="container_title container_title-w45">{{doctorsDetails_vm.doctorsDetails[0].name}}</div>
            <div class="pull-right" style="margin-top: -2%;">
                <span class="md-icon-button md-primary" aria-label="close" style="float:left; display: inline-block; padding: 6px;">
                    <my-toggle icon="{{static_path}}lib/image/share/128x128.svg" icon-position="right" icon-height="0px" icon-width="24px" container-height="170px" container-width="300px">
                        <img src="{{static_path}}lib/image/social_icon/twitter/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%; margin-bottom:4%;" socialshare socialshare socialshare-provider="twitter" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                        <img src="{{static_path}}lib/image/social_icon/facebook/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%;; margin-bottom:4%;"  socialshare socialshare socialshare-provider="facebook" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                        <img src="{{static_path}}lib/image/social_icon/google_plus/128x128_gray.svg" style="width:15%; height:none; margin-left: 12%;; margin-bottom:4%;" socialshare socialshare socialshare-provider="google+" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/><br/>
                        <md-content style="padding:10px; background:rgb(242, 242, 242); box-shadow: 0.1px 0.1px 5px rgb(66, 66, 66); z-index:100">
                            <md-input-container md-no-float>
                                <input ng-model="location.absUrl()" type="text" name="copy_txt">
                            </md-input-container>
                            <md-button style="width:100%; z-index:1000" class="md-raised md-primary bg-green md-button md-default-theme"id="clipboard_copy" clip-click-fallback="allsymptom_condition_vm.pathCopyForShare(false)" clip-copy="location.absUrl()" clip-click="allsymptom_condition_vm.pathCopyForShare(true)">Copy</md-button>
                        </md-content>
                    </my-toggle>
                </span>
                <md-button class="md-icon-button md-primary close_btn" aria-label="close" ng-click="doctorsDetails_vm.closeView()">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </md-subheader>
        <!-- <md-subheader class="md-no-sticky">
            <div class="container_title"><b>{{doctorsDetails_vm.doctorsDetails[0].name}}</b></div>
            <div class="pull-right" style="margin-top: -2%;">
              <span class="md-icon-button md-primary" aria-label="close" style="float:left; display: inline-block; padding: 6px;">
                  <my-toggle icon="{{static_path}}lib/image/share/128x128.svg" icon-position="right" icon-height="0px" icon-width="24px" container-height="170px" container-width="300px">
                      <img src="{{static_path}}lib/image/social_icon/twitter.png" style="width:15%; height:none; margin-left: 12%; margin-bottom:4%;" socialshare socialshare socialshare-provider="twitter" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                      <img src="{{static_path}}lib/image/social_icon/fb.png" style="width:15%; height:none; margin-left: 12%;; margin-bottom:4%;"  socialshare socialshare socialshare-provider="facebook" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/>
                      <img src="{{static_path}}lib/image/social_icon/google.png" style="width:15%; height:none; margin-left: 12%;; margin-bottom:4%;" socialshare socialshare socialshare-provider="google+" socialshare-text="My Swaasth: Find a Symptoms, Medications, Doctors and much more." socialshare-url="{{location.absUrl()}}" socialshare-hashtags="My Swaasth, Doctors, Symptoms, Medications"/><br/>
                      <md-content style="padding:10px; background:rgb(242, 242, 242); box-shadow: 0.1px 0.1px 5px rgb(66, 66, 66); z-index:100">
                        <md-input-container md-no-float>
                          <input ng-model="location.absUrl()" type="text" name="copy_txt">
                        </md-input-container>
                        <md-button style="width:100%; z-index:1000" class="md-raised md-primary bg-green md-button md-default-theme"id="clipboard_copy" clip-click-fallback="allsymptom_condition_vm.pathCopyForShare(false)" clip-copy="location.absUrl()" clip-click="allsymptom_condition_vm.pathCopyForShare(true)">Copy</md-button>
                      </md-content>
                  </my-toggle>
              </span>
              <md-button class="md-icon-button md-primary close_btn" aria-label="close" ng-click="doctorsDetails_vm.closeView()">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon><md-tooltip>Close it</md-tooltip>
              </md-button>
            </div>
        </md-subheader> -->
        <md-card-content style="height: 100%" >
            <md-progress-circular style="margin-top:10px" class="md-hue-2 loading" md-mode="indeterminate" ng-show="doctorsDetails_vm.isLoading"></md-progress-circular>
            <div layout = "row" style="height: 40%; ">
                <md-card class="" style="width: 100%;" layout-padding ng-repeat="doctor_detail in doctorsDetails_vm.doctorsDetails track by $index">
                    <md-card-content layout = "column">
                        <div layout = "row">
                            <div flex="30" layout-padding>
                                <img ng-show="doctor_detail.logo.length!=0" ng-src="{{doctor_detail.logo[0]}}" class="md-avatar" alt="{{doctor_detail.name}}" style="width:100%"/>
                                <img ng-show="doctor_detail.logo.length==0" ng-src="{{static_path}}lib/image/user/128x128.svg" class="md-avatar" style="width:100%"/>
                            </div>
                            <div flex="70" layout="column" layout-padding>
                                <div flex>
                                    <h2 style="white-space: normal; margin: 0px">{{doctor_detail.name}}</h2>
                                    <h3 style="margin: 0px" ng-repeat="degree in doctor_detail.degree">{{degree}} <span ng-if="$index != (doctor_detail.degree.length-1)" style="color:black"><b>&vellip;</b></span> </h3>
                                    <h4 style="margin: 0px"><span ng-repeat="speciality in doctor_detail.speciality">{{speciality}} <span ng-if="$index != (doctor_detail.speciality.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                        , {{ doctor_detail.experience_years }}<span ng-if="doctor_detail.experience_years ==1"> year </span><span ng-if="doctor_detail.experience_years !=1"> Years</span> Experience</h4>
                                </div>
                                <div flex layout="row">
                                    <div flex="90" style="white-space: normal;">
                                        {{doctor_detail.full_address}}
                                    </div>
                                </div>
                                <div flex layout="row" ng-if="doctor_detail.mobile_no!=null">
                                    <div flex="10">
                                        <md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon>
                                    </div>
                                    <div flex="90" style="white-space: normal;">{{doctor_detail.mobile_no}}</div>
                                </div>
                                <div flex layout="row" ng-if="doctor_detail.mobile_no==null">
                                    <div flex="10">
                                        <md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon>
                                    </div>
                                    <div flex="90" style="white-space: normal;">Contact MySwaasth.com</div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div layout = "row" style="height: 50%;  white-space: normal;">
                <md-card class="" layout-padding ng-repeat="doctor_detail in doctorsDetails_vm.doctorsDetails track by $index">
                    <perfect-scrollbar class="scroller  doctor_list" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                        <md-card-content layout = "column">
                            <md-card class="" layout-padding>
                                <md-card-content layout = "row">
                                    <div flex>
                                        <h3 class="md-title" style="margin: .5em 0;">Summary</h3>
                                        <p style="line-height: normal" ng-bind-html="doctor_detail.summary"></p>
                                    </div>
                                </md-card-content>
                            </md-card>
                            <md-card class="" layout-padding>
                                <md-card-content>
                                    <h3 class="md-title" style="margin: .5em 0;">Clinics Details</h3>
                                    <div layout="row">
                                        <div flex = "50" style="border-right: 1px solid; ">
                                            <div layout="row">
                                                <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                <p flex= "90" style="line-height: normal" ng-bind-html="doctor_detail.full_address"></p>
                                            </div>
                                            <div layout="row">
                                                <span flex="10"></span>
                                                <div flex="90" layout="row">
                                                    <div flex="20"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></div>
                                                    <div flex="20"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></div>
                                                    <div flex="20"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></div>
                                                    <div flex="20"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></div>
                                                    <div flex="20"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div flex = "50">
                                            <div layout="row">
                                                <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                <div flex="90">
                                                    <p style="margin:0px;">Mon - Sat</p>
                                                    <span>10:00 AM - 2:30 AM</span>
                                                    <span>10:00 AM - 2:30 AM</span>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                            <div layout="row">
                                                <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                <p flex="90" style="margin:0px;">INR 150</p>
                                            </div>
                                        </div>
                                        <!--<div flex = "25">
                                            <h3 class="md-title" style="margin: .5em 0;">Clinics Details</h3>
                                            <p style="line-height: normal" ng-bind-html="doctor_detail.summary"></p>
                                        </div>-->
                                    </div>
                                </md-card-content>
                            </md-card>


                            <md-card class="" layout-padding>
                                <md-card-content>
                                    <h3 class="md-title" style="margin: .5em 0;">Services</h3>
                                    <div layout="row">
                                        <div flex="">
                                            <ul>
                                                <li>one</li>
                                                <li>one</li>
                                                <li>one</li>
                                                <li>one</li>
                                            </ul>
                                        </div>
                                        <div flex="">
                                            <ul>
                                                <li>one</li>
                                                <li>one</li>
                                                <li>one</li>
                                                <li>one</li>
                                            </ul>
                                        </div>
                                        <div flex="">
                                            <ul>
                                                <li>one</li>
                                                <li>one</li>
                                                <li>one</li>
                                                <li>one</li>
                                            </ul>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>



                            <md-card class="" layout-padding>
                                <h3 class="md-title" style="margin: .5em 0;">Other Details</h3>
                                <md-card-content>
                                    <div layout="row">
                                        <div flex="50">
                                            <md-card class="" layout-padding>
                                                <div layout="row">
                                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                    <h3 class="md-title" style="margin: .5em 0;">Specializations</h3>
                                                </div>
                                                <div layout="row">
                                                    <ul>
                                                        <li>one</li>
                                                        <li>one</li>
                                                        <li>one</li>
                                                    </ul>
                                                </div>
                                            </md-card>
                                        </div>
                                        <div flex="50">
                                            <md-card class="" layout-padding>
                                                <div layout="row">
                                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                    <h3 class="md-title" style="margin: .5em 0;">Awards and Recognitions</h3>
                                                </div>
                                                <div layout="row">
                                                    <ul>
                                                        <li>one</li>
                                                        <li>one</li>
                                                        <li>one</li>
                                                    </ul>
                                                </div>
                                            </md-card>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div flex="50">
                                            <md-card class="" layout-padding>
                                                <div layout="row">
                                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                    <h3 class="md-title" style="margin: .5em 0;">Education</h3>
                                                </div>
                                                <div layout="row">
                                                    <ul>
                                                        <li>one</li>
                                                        <li>one</li>
                                                        <li>one</li>
                                                    </ul>
                                                </div>
                                            </md-card>
                                        </div>
                                        <div flex="50">
                                            <md-card class="" layout-padding>
                                                <div layout="row">
                                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                    <h3 class="md-title" style="margin: .5em 0;">Memberships</h3>
                                                </div>
                                                <div layout="row">
                                                    <ul>
                                                        <li>one</li>
                                                        <li>one</li>
                                                        <li>one</li>
                                                    </ul>
                                                </div>
                                            </md-card>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div flex="50">
                                            <md-card class="" layout-padding>
                                                <div layout="row">
                                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                    <h3 class="md-title" style="margin: .5em 0;">Experience</h3>
                                                </div>
                                                <div layout="row">
                                                    <ul>
                                                        <li>one</li>
                                                        <li>one</li>
                                                        <li>one</li>
                                                    </ul>
                                                </div>
                                            </md-card>
                                        </div>
                                        <div flex="50">
                                            <md-card class="" layout-padding>
                                                <div layout="row">
                                                    <span flex="10"><md-icon md-svg-icon="{{static_path}}lib/image/phone/96X96.svg"></md-icon></span>
                                                    <h3 class="md-title" style="margin: .5em 0;">Registrations</h3>
                                                </div>
                                                <div layout="row">
                                                    <ul>
                                                        <li>one</li>
                                                        <li>one</li>
                                                        <li>one</li>
                                                    </ul>
                                                </div>
                                            </md-card>
                                        </div>
                                    </div>


                                </md-card-content>
                            </md-card>




                            <!--<div layout = "column">
                                <div layout="row">
                                    <h3>Personal Details</h3>
                                </div>
                                <div layout="row" ng-if="doctor_detail.edcation.length!=0">
                                    <div flex="40">
                                        <b>Education</b>
                                    </div>
                                    <div flex="60">
                                        <span ng-repeat="education in doctor_detail.edcation track by $index">{{education}} <span ng-if="$index != (doctor_detail.edcation.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="row" ng-if="doctor_detail.degree.length!=0">
                                    <div flex="40">
                                        <b>Degree</b>
                                    </div>
                                    <div flex="60">
                                        <span ng-repeat="degree in doctor_detail.degree">{{degree}} <span ng-if="$index != (doctor_detail.degree.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="row" ng-if="doctor_detail.experience_years!=''">
                                    <div flex="40">
                                        <b>Experience</b>
                                    </div>
                                    <div flex="60" ng-bind-html="doctor_detail.experience_years">
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="row" ng-if="doctor_detail.membership.length!=0">
                                    <div flex="40">
                                        <b>Membership</b>
                                    </div>
                                    <div flex="60">
                                        <span ng-repeat="membership in doctor_detail.membership">{{membership}} <span ng-if="$index != (doctor_detail.membership.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="row" ng-if="doctor_detail.clinic_name.length!=0">
                                    <div flex="40">
                                        <b>Clinic Name</b>
                                    </div>
                                    <div flex="60">
                                        <span ng-repeat="clinic in doctor_detail.clinic_name">{{clinic}} <span ng-if="$index != (doctor_detail.clinic_name.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="row" ng-if="doctor_detail.speciality.length!=0">
                                    <div flex="40">
                                        <b>Speciality</b>
                                    </div>
                                    <div flex="60">
                                        <span ng-repeat="speciality in doctor_detail.speciality">{{speciality}} <span ng-if="$index != (doctor_detail.speciality.length-1)" style="color:black"><b>&vellip;</b></span> </span>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div layout="row" ng-if="doctor_detail.awards_and_recognitions!=''">
                                    <div flex="40">
                                        <b>Awards &amp; Recognitions</b>
                                    </div>
                                    <div flex="60" ng-bind-html="doctor_detail.awards_and_recognitions"></div>
                                </div>
                            </div>-->
                        </md-card-content>
                    </perfect-scrollbar>
                </md-card>

            </div>
        </md-card-content>

    </md-card>
</div>
<ui-view></ui-view>