<div class="avatar symptom-cause" layout = "column" flex style="width: 800px">
    <md-card class="cards tile">
      <div layout="row" class="header_bar">
        <md-subheader class="md-no-sticky" flex="85">
              <div class="container_title"><b>{{doctors_overview_vm.title}} <em>Near By {{doctors_overview_vm.location_name}}</em></b></div>
        </md-subheader>
        <div flex="15" layout="center center">
          <div layout="row" class="pull-right margin-top-bottom">
            <md-button flex class="md-icon-button md-primary " aria-label="share" ng-click="doctors_overview_vm.showLocalityData()">
              <md-icon md-svg-icon="{{static_path}}lib/image/location_icon/location.svg" class="animate-location-icon"></md-icon><md-tooltip>Change Location</md-tooltip>
            </md-button>
            <md-button flex class="md-icon-button md-primary" aria-label="scrollup" style="float:right" go-to-top=".doctor_list">
              <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon><md-tooltip>Scroll Up</md-tooltip>
            </md-button>
            <md-button flex class="md-icon-button md-primary close_btn" aria-label="close" ng-click="doctors_overview_vm.closeView()">
              <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon><md-tooltip>Close it</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>

    <md-card-content>
        <div class="locatioslider" ng-class="{closedlocationslider : doctors_overview_vm.localitydiv}">
            <h3>Location Changed</h3>
            <div  layout="row">
                <perfect-scrollbar class="scroller" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" style="height : 250px;" flex="50" suppress-scroll-x="true" suppress-scroll-y="false">
                  <div layout="row" id="gender-filter" ng-repeat="location1 in doctors_overview_vm.locationList track by $index" ng-init="superIndex = ($index+1); isFull=$index">
                      <md-checkbox flex="50" ng-repeat="location in doctors_overview_vm.locationList track by location.slug" style="margin: 2px; margin-left: 10px;" ng-model="location.isChecked" ng-change="doctors_overview_vm.localitySelect(doctors_overview_vm.locationList)" aria-label="location.name" ng-if="((superIndex+1+isFull)>$index) && ((superIndex-1+isFull|toInt)<=$index)">
                        {{location.name}}
                      </md-checkbox>
                  </div>
                </perfect-scrollbar>
                <div flex="50">
                  <perfect-scrollbar class="scroller" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" style="height : 250px;" flex="50" suppress-scroll-x="true" suppress-scroll-y="false">
                     <user-location-template></user-location-template>
                  </perfect-scrollbar>
                </div>
            </div>
        </div>

        <md-progress-circular style="margin-top:10px" class="md-hue-2 loading" md-mode="indeterminate" ng-show="doctors_overview_vm.isLoading"></md-progress-circular>

        <div layout="row" >
            <div flex = "50">
                <perfect-scrollbar ng-style="doctors_overview_vm.viewheight" class="scroller symptoms-bar_blank_div custom_infinite doctor_list" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                  <div infinite-scroll='doctors_overview_vm.loadMore()' infinite-scroll-disabled='doctors_overview_vm.busy' infinite-scroll-distance='2'>

                        <div class="symptom_data color-gray" style="font-size:15px; overflow:hidden; white-space: normal;">
                        <md-content style="margin-right:2%">
                            <md-card ng-repeat="doctor in doctors_overview_vm.doctorsList track by $index" ui-sref=".overview({doctor_id : doctor.doctor_id, doctor_name : doctor.name})" ng-mouseenter="doctors_overview_vm.doctorMouseFocus(doctor.latitude)" ng-mouseleave="doctors_overview_vm.doctorMouseOut()" doctor-focus role="button" >
                                 <md-card-content layout = "column" >
                                    <div layout = "row" >
                                        <div flex="20" layout-padding>
                                            <img ng-if="doctor.logo.length>0" ng-src="{{doctor.logo[0]}}" class="md-avatar" style="width:100%" draggable="false"/>
                                            <img ng-if="doctor.logo.length==0" ng-src="{{static_path}}lib/image/user/128x128.svg" class="md-avatar" style="width:100%" draggable="false"/>
                                        </div>
                                        <div flex="80">
                                            <h3 class="md-title" style="margin: .5em 0;">{{doctor.name}}</h3>
                                            <div>
                                              <span ng-repeat="degree in doctor.degree track by $index"><b>{{degree}}</b><b ng-hide="$index+1==doctor.degree.length">,</b> </span>
                                            </div>
                                            <div>
                                              <span ng-repeat="clinic in doctor['clinic name'] track by $index"><i>{{clinic}}</i><i ng-hide="$index+1==doctor['clinic name'].length">,</i> </span>
                                            </div>
                                            <div>
                                              <span ng-repeat="speciality in doctor.speciality track by $index"><span>{{speciality}}</span><span ng-hide="$index+1==doctor.speciality.length">,</span> </span>
                                            </div>
                                            <div ng-if="doctor['experience years']!=null">{{doctor['experience years']}} years experience</div>
                                        </div>
                                    </div><md-divider></md-divider>
                                    <div layout="row">
                                        <div flex="10" layout-padding>
                                          <md-icon md-svg-icon="{{static_path}}/lib/image/location/128x128.svg" class="pull-center"></md-icon>
                                        </div>
                                        <div flex="90" layout-padding>
                                          <div><span>{{doctor.locality}}</span>, <span>{{doctor.city}}</span></div>
                                        </div>
                                    </div>
                                    <div layout="row" ng-if="doctor.mobile_no!=null">
                                        <div flex="10" layout-padding>
                                          <md-icon md-svg-icon="{{static_path}}/lib/image/phone/96X96.svg" class="pull-center"></md-icon>
                                        </div>
                                        <div flex="90" layout-padding>
                                          <div>{{doctor.mobile_no}}</div>
                                        </div>
                                    </div>
                                  </md-card-content>
                              </md-card>
                          </md-content>
                        </div>

                  </div>
                  </perfect-scrollbar>
                  <md-progress-linear md-mode="indeterminate" ng-show='doctors_overview_vm.busy' style="position: absolute; width:50%; top:98.5%;"></md-progress-linear>
            </div>
            <div flex = "50" >
                <md-card  ng-if="doctors_overview_vm.isMapLoading==true" ng-style="doctors_overview_vm.mapHeight">

                    <my-maps id="map-canvas" latlog="{{doctors_overview_vm.doctors_map_array}}" style="height:inherit; width:100%"></my-maps>
                </md-card>
            </div>
        </div>


    </md-card-content>
  </md-card>




</div>
<ui-view></ui-view>
<!---->