

<div ng-cloak="" id="indexwrap" class="indexwrapper main_layout">
    <!-- wrapper for four rows-->
    <div layout="column" id="main" >
      <div>
          <md-content>
            <!--start desktop view  -->
            <md-toolbar hide-sm>
              <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Tour">
                  Tour
                </md-button>
                <md-button class="md-icon-button" aria-label="About">
                  About
                </md-button>
                <md-button class="md-icon-button" aria-label="About">
                  Feedback
                </md-button>
                <md-button class="md-icon-button" aria-label="About" ui-sref="secondary({statename:'login'})">
                  Login
                </md-button>
              </div>
            </md-toolbar>
            <!-- end Desktop view -->


            <!-- start mobile view -->
                <md-toolbar hide-gt-sm>

                <div class="md-toolbar-tools">
                    <!--<md-button class="md-icon-button" aria-label="Settings">
                      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>-->
                    <h2>
                      <!--<span>Toolbar with Icon Buttons</span>-->
                    </h2>
                    <span flex></span>
                    <md-button  class="md-icon-button "  aria-label="Favorite">
                      <md-icon md-svg-icon="{{ static_path }}lib/image/nav_bar/nav_menu.svg" style="color: green;"></md-icon>
                    </md-button>
                    <!--<md-button class="md-icon-button" aria-label="More">
                      <md-icon md-svg-icon="{{ static_path }}lib/image/nav_bar/nav_menu.svg" style="color: red;"></md-icon>
                    </md-button>-->
                </div>
                </md-toolbar>

            <!-- end mobile view -->

          </md-content>
      </div>


       <!--Logo goes here -->
        <!-- logo on desktop view & mobile view -->
        <md-content layout="row" layout-align="center center" class="logo-container"  style="height:auto">
              <div flex = "30" flex-sm = "100"></div>
              <div flex = "40" flex-sm = "100" class="logo" style="height:auto">
                  <img src="{{static_path}}lib/image/logo/myswaasthlogo22.png" />
              </div>
              <div flex = "30" flex-sm = "100"></div>
        </md-content>

      <md-content layout="row" layout-align="center center" id ="search">
          <div flex = "20" flex-sm ="100"></div>
          <!-- starts desktop view search box -->
          <md-whiteframe class="md-whiteframe-z1"  flex = "60" hide-sm>
            <form  name="searhForm" layout="row">
              <md-input-container flex="75"  md-no-float>
                <input ng-model="primary_vm.search_text"  value="" placeholder="{{  primary_vm.placeholder }}" ng-focus="primary_vm.stopAndErasetype()" ng-blur = "primary_vm.starttype()">
              </md-input-container>
              <md-button class="" aria-label="search"  flex="25" ui-sref="secondary({statename:'sear', search_text : primary_vm.search_text})">
                Search
              </md-button>
            </form>
          </md-whiteframe>
          <!-- ends desktop view search box -->

          <!-- starts mobile view search box -->
          <md-whiteframe class="md-whiteframe-z1" flex-sm="100"  hide-gt-sm>
              <form  name="searhForm" layout="column">
                  <md-input-container flex-sm="100"  md-no-float style="width: 100%; margin: 20% auto 0% auto">
                    <input ng-model="primary_vm.search_text"  value="" placeholder="{{  primary_vm.placeholder }}" ng-focus="primary_vm.stopAndErasetype()" ng-blur = "primary_vm.starttype()">
                  </md-input-container>
                  <md-button layout-margin  class="" style="width: 60%; margin: 5% auto 0% auto" aria-label="search"   ui-sref="secondary({statename:'sear', search_text : primary_vm.search_text})">
                    Search
                  </md-button>
              </form>
          </md-whiteframe>
          <!-- ends mobile view search box -->
          <div flex = "20" flex-sm ="100"></div>

      </md-content>

      <br/>
        <!-- starts mobile view navigation bar shortcut -->
      <h1 class="text-center" hide-gt-sm> OR </h1>
      <md-content style="margin-top:20%;" layout-sm="column" layout-align = "center center" class="navigationbar" hide-gt-sm >
        <div layout = "row">
            <ul>
              <li><a ui-sref="secondary({statename:'symp'})">Symptoms</a></li> <span>&nbsp;|</span>
              <li><a ui-sref="secondary({statename:'cond'})">Conditions</a></li><span>&nbsp;|</span>
              <li><a ui-sref="secondary({statename:'proc'})">Procedures</a></li><span>&nbsp;|</span>
           </ul>
        </div>
        <div layout = "row">
            <ul>
              <li><a ui-sref="secondary({statename:'medi'})">Medications</a></li><span>&nbsp;|</span>
              <li><a ui-sref="secondary({statename:'hosp'})">Hospitals</a></li><span>&nbsp;|</span>
              <li><a ui-sref="secondary({statename:'doct'})">Doctors</a></li>
           </ul>
        </div>

        <div layout="row" class ="mobilenavigationbar">
          <ul  flex-sm = "100" style="margin-left: 0%" >
              <li><a href="#">Terms &amp; Conditions</a></li><span>&nbsp;|</span>
              <li><a href="#">Privacy Policy</a></li>
          </ul>
      </div>


      </md-content>
      <!-- ends mobile view navigation bar shortcut -->

        <!-- starts desktop view navigation bar shortcut -->
      <md-content   layout="row" layout-align="center center" class="navigationbar" hide-sm>
          <div flex = "25"></div>
          <md-whiteframe class=""  flex = "55">
             <div layout = "row" >
               <div flex="75">
                   <ul>
                      <li><a ui-sref="secondary({statename:'symp'})">Symptoms</a></li> <span>&nbsp;|</span>
                      <li><a ui-sref="secondary({statename:'cond'})">Conditions</a></li><span>&nbsp;|</span>
                      <li><a ui-sref="secondary({statename:'proc'})">Procedures</a></li><span>&nbsp;|</span>
                      <li><a ui-sref="secondary({statename:'medi'})">Medications</a></li><span>&nbsp;|</span>
                      <li><a ui-sref="secondary({statename:'hosp'})">Hospitals</a></li><span>&nbsp;|</span>
                      <li><a ui-sref="secondary({statename:'doct'})">Doctors</a></li>
                   </ul>
               </div>
               <div flex="25" class="privacy">
                   <ul>
                      <li><a href="#">Terms &amp; Conditions</a></li><span>&nbsp;|</span>
                      <li><a href="#">Privacy Policy</a></li>
                   </ul>
               </div>
             </div>
          </md-whiteframe>
          <div flex = "20"></div>

      </md-content>
        <!-- starts desktop view navigation bar shortcut -->
    </div>
</div>
<footer class="footer" hide-sm>
    <div layout="row"  layout-sm="column"  class="footer-container" >
      <div flex  class="footer-view">
        <div class="layer1" layout="column">
            <div flex ="20">
                <h2>Find Mediacal Answer</h2>
            </div>
            <div flex ="40">
                <ul>
                    <li>Get Medical Answer</li>
                    <li>Find care options</li>
                    <li>Securely maintain your &nbsp;  health &nbsp;information</li>
                </ul>
            </div>
            <div flex ="30" layout="row"  layout-align="center center">
              <md-button class="md-raised">Go now</md-button>
            </div>
        </div>
      </div>
      <div flex  class="footer-view">
        <div class="layer2" layout="column">
            <div flex ="20">
                <h2>My Swaasth blog</h2>
            </div>
            <div flex ="40">
                <ul>
                    <li>Tips and Triks for a healthy life </li>
                    <li>Worlds No 1 Health fourm</li>
                    <li>Join supports groups and share experiences</li>
                </ul>
            </div>
            <div flex ="30" layout="row"  layout-align="center center">
              <md-button class="md-raised">Go now</md-button>
            </div>
        </div>
      </div>
      <div flex  class="footer-view">
        <div class="layer3">
            <div flex ="20">
                <h2>About my Swaasth</h2>
            </div>
            <div flex ="40">
                <ul>
                    <li>Who we are </li>
                    <li>Our mission</li>
                    <li>Join us for healthy future

                    </li>
                </ul>
            </div>
            <br/>

            <div style="padding-top: 2%;" flex ="30" layout="row"  layout-align="center center">
              <md-button class="md-raised">Go now</md-button>
            </div>
        </div>
      </div>
      <div flex  class="footer-view">
      <div class="layer4">
            <div flex ="20">
                <h2>About my Swaasth</h2>
            </div>
            <div flex ="40">
                <ul>
                    <li>Who we are </li>
                    <li>Our mission</li>
                    <li>Join us for healthy future </li>
                </ul>
            </div>
            <br/>

            <div style="padding-top: 2%;" flex ="30" layout="row"  layout-align="center center">
              <md-button class="md-raised">Go now</md-button>
            </div>
        </div>
      </div>

    </div>


</footer>

