<div class="avatar symptom-cause" layout="column" flex >
<md-card class="cards tile">
  <md-subheader class="md-no-sticky">
      <div layout = "row">
        <div class="container_title" flex="90"><b>Choose a Facility Category</b></div>
        <!--<md-button flex="10" class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="doctors_vm.closeView()" style="  margin-top: -2.5%;">
            <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg" ></md-icon>
        </md-button>-->
      </div>
  </md-subheader>
   

  <div class="tab-content">
  <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="hospitals_vm.isLoading"></md-progress-circular>

    <div class="tab-pane active" id="all_symptoms">
      <perfect-scrollbar ng-style="hospitals_vm.viewheight" class="scroller  custom_infinite" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
      <div class="symptoms-bar_list_view" infinite-scroll='doctors_vm.loadMore()' infinite-scroll-disabled='doctors_vm.busy' infinite-scroll-distance='1'>

            
          <md-list class="list_view">
            <md-list-item ng-repeat="hospital in hospitals_vm.hospitalList track by hospital.slug" ui-sref=".overview({hospital_id:hospital.slug, hospital_name:hospital.name})"  ui-sref-active="list_active"><md-button><div>{{hospital.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>

          </md-list>
        </div>
      </perfect-scrollbar>
      <span class="data-not-found" ng-show="hospitals_vm.hospitalList.length==0 && !hospitals_vm.isLoading">Data not Found</span>

      <md-progress-linear md-mode="indeterminate" ng-show='doctors_vm.busy' style="position: absolute; top:98.5%;"></md-progress-linear>
    </div>
   
    
   </div>

</md-card>
</div>

<ui-view></ui-view> 
