<div class="avatar symptom-cause" layout="column" flex>
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b><span ng-show="myprofileoverview_vm.profile.profile_fname==null">Untitled</span>{{myprofileoverview_vm.profile.profile_fname}} {{myprofileoverview_vm.profile.profile_lname}}</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myprofileoverview_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>
        
        <md-card-content>
           <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="myprofileoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar ng-style="myprofileoverview_vm.viewheight"  class="scroller symptoms-bar_blank_div" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                  <div layout="column" layout-padding>
                        <md-content layout-padding class="autoScroll">
                            <form name="swaasth_form">
                               <div id="profile">
                                    <a href="javascript:void(0);">

                                      <img src="{{ static_path }}lib/image/dashboard/blank-user.jpg" class="profile-image" id="profileImg">
                                      <span id="uploadTrigger" ng-click="myprofileoverview_vm.openInputFile()">
                                        <b>Update Picture {{ myprofileoverview_vm.name }}</b>
                                      </span>
                                      <input name="document" type="file" id="file-id" class="activeinput" />
                                    </a>
                               </div>
                               <div style="top:2px;"></div>
                               <div id="status_msg"></div>
                                 <!--<script>
                                      $(document).ready(function () {
                                        $("#uploadTrigger").on('click', function(event) {
                                        $("#file-id").trigger('click');
                                      });

                                  </script>-->


                               <!-- <div>
                                    <label for="inputImage">Image</label>

                                    <input id="inputImage" type="file" accept="image/*" image="image" />
                                    <img src="{{ static_path }}lib/image/dashboard/blank-user.jpg" width="100" height="100" style="float: right">
                                    <img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}"/>

                                </div>-->

                                <md-input-container>
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>First Name</label>
                                    <input  ng-model="myprofileoverview_vm.profile.profile_fname" type="text" required name="fname">
                                </md-input-container>

                                <md-input-container>
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>Last Name</label>
                                    <input ng-model="myprofileoverview_vm.profile.profile_lname" type="text" required name="lname">
                                </md-input-container>

                                <md-radio-group ng-model="myprofileoverview_vm.profile.profile_gender" layout="row">
                                  <p layout-margin flex="20">Gender:</p>
                                  <md-radio-button flex="35" value="M" class="md-primary">male</md-radio-button>
                                  <md-radio-button flex="35" value="F"> Female </md-radio-button>
                                </md-radio-group>

                                <md-input-container>
                                  <label>Date of Birth</label>
                                  <input type="text" ng-model="myprofileoverview_vm.profile.profile_dob"  required max="{{myprofileoverview_vm.profile.today}}" name="dob" date-picker>
                                </md-input-container>

                                <md-input-container>
                                  <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                  <label>Phone Number</label>
                                  <input ng-model="myprofileoverview_vm.profile.profile_mobile" type="text" name="mobile">
                                </md-input-container>

                                <md-input-container >
                                  <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                  <label>Email</label>
                                  <input ng-disabled="myprofileoverview_vm.profile.profile_isSuperUser" ng-model="myprofileoverview_vm.profile.profile_email" type="email" ng-required="true" name="email">
                                </md-input-container>

                                <md-input-container flex>
                                  <label>Postal Code</label>
                                  <input ng-model="myprofileoverview_vm.profile.profile_postalcode" name="postal">
                                </md-input-container>

                                <section layout="row" layout-align="center center" layout-margin>
                                  <md-button ng-show="myprofileoverview_vm.isNewMamber" ng-disabled="!myprofileoverview_vm.isNewMamber || swaasth_form.fname.$error.required || swaasth_form.lname.$error.required || swaasth_form.dob.$error.required || swaasth_form.mobile.$error.required || swaasth_form.email.$error.required || swaasth_form.postal.$error.required" flex="33" class="md-raised md-primary bg-green" ng-click="myprofileoverview_vm.saveDetails()">Save</md-button>
                                  <md-button ng-hide="myprofileoverview_vm.isNewMamber" flex ="33" class="md-raised md-primary bg-green" ng-click="myprofileoverview_vm.updateDetails()">Update</md-button>
                                  <md-button flex ="33" class="md-raised md-primary md-warn" ng-click="myprofileoverview_vm.cancelDetails()">Cancel</md-button>

                                  <md-button ng-show="!myprofileoverview_vm.profile.profile_isSuperUser" ng-hide="myprofileoverview_vm.isNewMamber" flex ="33" class="md-raised md-warn" ng-click="myprofileoverview_vm.deleteDetails()">Delete</md-button>
                                  <div class="label">Raised</div>
                                </section>

                            </form>
                        </md-content>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>

<ui-view></ui-view>

