<!DOCTYPE html>
<html>
<head>
<title>My Swaasth Reset Password</title>
<script src="bower_components/angular/angular.js"></script>
<style>
body{
  margin:0px;
}
</style>
</head>
<body ng-app="resetPassword" ng-controller="resetPasswordCon as resetpass">
<div style="width:100%; height:80px;background:gray">
  <img src="lib/image/logo/myswaasthlogo2.png" style="width:15%; float:left">
  <h1 style="float:right; width:60%; color:white; height:50%;">Reset password</h1>
</div>
<div style="width:100%; background:pink; margin-top:-1.5%">
  <div ng-show="resetpass.isValidUser">
    <p><b>Email : </b>{{resetpass.useremail}}</p>
  	Reset Password: <input type="password" placeholder="New Password" ng-model="resetpass.userpass"/>
  	Confirm Password: <input type="password" placeholder="Confirm Password" ng-model="resetpass.reuserpass"/>
  	<button ng-click="resetpass.changeConfirm()">Confirm</button>
  	<button ng-click="resetpass.clearConfirm()">Clear</button>
  </div>
  <div ng-show="!resetpass.isValidUser">
  	<h1>You Follow Something Wrong!!!</h1>
  </div>
</div>
<img src="lib/image/index/forgot_image.gif" style="200px"/>
<script>
var app=angular.module("resetPassword", []);
app.controller("resetPasswordCon", resetPasswordFun);
resetPasswordFun.$inject=['$scope', '$http'];
function resetPasswordFun($scope, $http)
{
  var vm=this;
  vm.isValidUser=false;
  var location_=window.location+"";
  var search=(location_.substring(location_.indexOf("?")+1, location_.length)).split("&");
  var search_token=new Array();

  for(var g=0; g<search.length; g++)
  {
    var to=search[g].split("=");
    search_token.push(to[0]);
    search_token.push(to[1]);
  }
  var queryString={};
  for(var g=0; g<search_token.length; g++)
  {
    queryString[search_token[g]]=search_token[++g];
  }
  
    var response_data;
    $http({
      url : 'http://52.74.163.60/account/reset_forgot_password/',
      method : 'POST',
      headers : {
        'Content-Type':'application/json'
      },
      data: {
          'ab' : queryString.ab,
          'ac' : queryString.ac
      },
    }).success(function(response){
      vm.useremail=response.info.email;
      response_data=response;
      vm.isValidUser=true;
    }).error(function(error){
      alert("error");
    });

    vm.changeConfirm=function()
    {
      if(vm.userpass==vm.reuserpass)
      {
        $http({
          url : 'http://52.74.163.60/account/change_password/'+response_data.info.account_id,
          method : 'PUT',
          headers : {
            'Content-Type':'application/json',
            "Authorization" : response_data.token.token_type+" "+response_data.token.access_token
          },
          data: {
              'new_password' : vm.userpass
          },
        }).success(function(response){
          alert("ok! now your password reset.");
        }).error(function(error){
          alert("sorry! your password not reset.");
        });
      }
      else
      {
        alert("please type correct password.");
      }
    }
}

</script>
</body>

</html>