<div class="avatar symptom-cause" layout="column" flex style="width: 575px">
<md-card class="cards tile">

    <md-subheader class="md-no-sticky">
        <div layout="row">
            <div flex ="30"><div layout="row"><span flex ="100">SEARCH MY SWAASTH</span></div></div>
            <div flex="5"></div>
            <div flex="50" class="devsite-search-wrapper devsite-subsearch-wrapper" ng-class="({'devsite-subsearch-active':showHotSearchDiv})" style="top: -11px;">
                <div class="devsite-search-form" action="" method="" id="top-search">
                    <div id="searchbox" class="devsite-searchbox" style="display: block!important; opacity: 1!important; top: 0px!important;">
                        <input placeholder="Enter anything to search" ng-model="secondarysearch_vm.search_value" autofocus type="text" class="devsite-search-field devsite-search-query hotSearchClass" style="padding: 7px 8px 8px 30px;">
                    </div>
                    <div class="devsite-search-image" style="display: block!important; opacity: 1!important; top: 5px!important; left:5px"></div>
                </div>
            </div>

            <div flex ="15"><md-button class=" md-raised md-warn pull-right" style="margin-top:-11px;height: 36px" ng-click="secondarysearch_vm.fullSearch_click()">Search</md-button></div>
        </div>
    </md-subheader>



    <!--<md-subheader class="md-no-sticky" layout="row">
        <div  style="float: left"><div><b>Search My Swaasth</b></div></div>
        <form ng-submit="secondarysearch_vm.fullSearch_click()">
          <md-content style="height:50px;background:rgba(216, 216, 216, 0.5); position:absolute; left:45%; margin-top:-20px;">
              <md-input-container style="padding-bottom: 0px;">
                <label style="color: #000000;border-color: rgba(245, 31, 31, 0.12);">Enter anything to search</label>
                <input ng-model="secondarysearch_vm.search_value" autofocus>
              </md-input-container>
          </md-content>
        </form>
        <md-button flex="20" class=" md-raised md-warn pull-right " style="margin-top:-1%;" ng-click="secondarysearch_vm.fullSearch_click()">Search</md-button>

    </md-subheader>
-->
  <div>
    <md-progress-circular layout="column" class="md-hue-2 loading" md-mode="indeterminate" ng-show="secondarysearch_vm.isLoading"></md-progress-circular>




   <div layout="row">
        <div flex = "20">
            <div class="menu_simple" style="box-shadow: 1px 1px 1px 1px rgba(0, 85, 85, 0.8);">
                <ul>
                    <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(0)" ng-class="({current:secondarysearch_vm.tapindex==0})">Symptoms</md-button></li>
                    <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(1)" ng-class="({current:secondarysearch_vm.tapindex==1})">Condditions</md-button></li>
                    <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(2)" ng-class="({current:secondarysearch_vm.tapindex==2})">Medications</md-button></li>
                    <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(3)" ng-class="({current:secondarysearch_vm.tapindex==3})">Procedures</md-button></li>
                    <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(4)" ng-class="({current:secondarysearch_vm.tapindex==4})">Hospitals</md-button></li>
                    <li><md-button class="search_menu" ng-click="secondarysearch_vm.changeTap(5)" ng-class="({current:secondarysearch_vm.tapindex==5})">Doctors</md-button></li>
                </ul>
            </div>
        </div>

        <div flex = "80">

    <perfect-scrollbar ng-style="secondarysearch_vm.viewheight" class="scroller" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
        <div class="symptoms-bar_list_view">
          <md-list class="list_view">
            <span ng-if="secondarysearch_vm.tapindex==0" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
              <md-list-item ui-sref=".causes({stmptoms_id:search.slug, stmptoms_name:search.name, msp_enabled:search.msp_enabled, life_threatening:search.life_threatening})" ui-sref-active="list_active">
                <div layout="row">
                  <md-button flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></md-button>
                  <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </span>
            <span ng-if="secondarysearch_vm.tapindex==1" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
              <md-list-item ui-sref=".conditions_overview({cause_id:search.slug, title_name1:search.name})" ui-sref-active="list_active">
                <div layout="row">
                  <md-button flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></md-button>
                  <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </span>
            <span ng-if="secondarysearch_vm.tapindex==2" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
              <md-list-item ui-sref=".medications_overview({medication_id:(search.is_brand?search.salt_id:search.id), medication_name:search.name})" ui-sref-active="list_active">
                <div layout="row">
                  <md-button flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></md-button>
                  <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </span>
            <span ng-if="secondarysearch_vm.tapindex==3" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
              <md-list-item ui-sref=".procedures_overview({procedure_id:search.slug, procedure_name:search.name})" ui-sref-active="list_active">
                <div layout="row">
                  <md-button flex="95"><div><b>{{search.name}}</b></div><div>{{search.Description}}</div></md-button>
                  <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </span>
            <span ng-if="secondarysearch_vm.tapindex==5" ng-repeat='search in secondarysearch_vm.searchList track by search.slug'>
              <md-list-item ui-sref=".doctors_overview" ui-sref-active="list_active">
                <div layout="row">
                  <md-button flex="95"><div><b>{{search.name}}</b></div></md-button>
                  <span flex="5" class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom" style="margin:auto"></span>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </span>
            <md-list-item ng-show="secondarysearch_vm.searchList.length==0">Data not Found</md-list-item>

          </md-list>

        </div>
    </perfect-scrollbar>
            <!--<perfect-scrollbar  class="scroller symptoms-bar_blank_div" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                    <md-card layout-padding class="tile">
                        <md-list>
                          <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                              <h2 style=" margin: 0;">Search Item Header</h2>
                              <h3 style=" margin: 0;">Search Item Type</h3>
                              <p style=" margin: 0; ">Serch Item description</p>
                            </div>
                          </md-list-item>
                        </md-list>
                    </md-card>
                    <md-card layout-padding class="tile">
                        <md-list>
                          <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                              <h2 style=" margin: 0;">Search Item Header</h2>
                              <h3 style=" margin: 0;">Search Item Type</h3>
                              <p style=" margin: 0; ">Serch Item description</p>
                            </div>
                          </md-list-item>
                        </md-list>
                    </md-card>
                </div>
            </perfect-scrollbar>-->
        </div>
    </div>


  </div>
</md-card>
</div>


<ui-view></ui-view>
