<div class="avatar symptom-cause" layout="column" flex ng-hide="false">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Saved Allergy</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myallergiesoverview_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>

        <md-card-content>
           <md-content md-theme="docs-dark"  class="search-bar" layout-padding >
               <h3 class="subcontainer_title" ng-if = "myallergiesoverview_vm.myAllergyFormData.allergyName != null"> {{ myallergiesoverview_vm.myAllergyFormData.allergyName}}</h3>
               <h3 class="subcontainer_title" ng-if = "myallergiesoverview_vm.myAllergyFormData.allergyName == null"> New Allergy</h3>

           </md-content>
           <md-progress-circular  class="md-hue-2 loading" md-mode="indeterminate" ng-show="myallergiesoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar  ng-style="myallergiesoverview_vm.viewheight"  class="scroller symptoms-bar_blank_div" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view" style="padding-top: 12%;" >
                    <div layout="column" layout-padding>
                        <h4>Details</h4>
                        <md-content layout-padding class="autoScroll">
                            <form name="myAllergyForm">
                                <md-input-container>
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label> Name</label>
                                    <input  ng-model="myallergiesoverview_vm.myAllergyFormData.allergyName" type="text" placeholder="Allergy Name" maxlength="100" required name ="allergy">
                                </md-input-container>

                                <md-input-container>
                                    <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                    <label>Reaction</label>
                                    <input  ng-model="myallergiesoverview_vm.myAllergyFormData.reaction" type="text" placeholder="Reaction of Allergy" maxlength="100" required name="reaction">
                                </md-input-container>
                                <md-input-container>
                                  <label>Date</label>
                                  <input type="text"  ng-model="myallergiesoverview_vm.myAllergyFormData.date " required max="{{myallergiesoverview_vm.myAllergyFormData.today}}" name = "date" date-picker>
                                </md-input-container>


                                <md-input-container flex>
                                    <label>Note</label>
                                    <textarea  ng-model="myallergiesoverview_vm.myAllergyFormData.note" columns="1" md-maxlength="" name="note"></textarea>
                                </md-input-container>

                                <section layout="row"  layout-align="center center" layout-margin>
                                  <md-button ng-show="myallergiesoverview_vm.isNewMamber" ng-disabled="!myallergiesoverview_vm.isNewMamber || myAllergyForm.allergy.$error.required || myAllergyForm.reaction.$error.required " flex ="33" class="md-raised md-primary bg-green" ng-click="myallergiesoverview_vm.submitAllergy()" >Save</md-button>
                                  <md-button ng-hide="myallergiesoverview_vm.isNewMamber" flex ="33" class="md-raised md-primary bg-green" ng-click="myallergiesoverview_vm.updateMyAllergy()">Update</md-button>
                                  <md-button flex ="33" class="md-raised md-warn" ng-click="myallergiesoverview_vm.clearForm()">Cancel</md-button>

                                  <md-button ng-hide="myallergiesoverview_vm.isNewMamber" flex ="33" class="md-raised md-warn" ng-click="myallergiesoverview_vm.showConfirm($event) ">Delete</md-button>

                                </section>

                            </form>
                        </md-content>
                    </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>



<ui-view></ui-view>

