<div class="avatar symptom-cause">
    <md-card class="cards tile">
        <md-card-content>
            <div layout="row" class="header_bar">
                <md-subheader class="md-no-sticky" flex="90">
                    <div class="container_title">Diseases &amp; Conditions</div>
                </md-subheader>
                <div flex="10" layout="center center" class="margin-top-bottom">
                    <md-button class="md-icon-button md-primary" aria-label="scrollup" go-to-top=".condition_list">
                        <md-icon md-svg-icon="{{static_path}}lib/image/up_arrow/128X128.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div layout="row">
              <div flex="100">
                <div class="serach_bar_parent" layout="row">
                  <md-content md-theme="docs-dark" class="search-bar">
                      <md-input-container>
                        <label style="color: #f5f5f5;border-color: rgba(245, 31, 31, 0.12); margin-left:10px">Search</label>
                        <input type="text" ng-model="conditions_vm.filterList" ng-change="conditions_vm.filterListChange(conditions_vm.filterList)" autofocus ng-readonly="conditions_vm.isDisabled" class="txt_box_padding"/>
                      </md-input-container>
                  </md-content>
                  </div>
                  <div layout="row">
                    <div flex="100">
                        <md-progress-circular class="md-hue-2 loading" md-mode="indeterminate" ng-show="conditions_vm.isLoading"></md-progress-circular>
                      
                        <perfect-scrollbar ng-style="conditions_vm.viewheight" class="scroller custom_infinite condition_list" id="all_symptoms" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                            <div class="symptoms-bar_list_view" infinite-scroll='conditions_vm.loadMore()' infinite-scroll-disabled='conditions_vm.busy' infinite-scroll-distance='1'>
                                <md-list class="list_view">
                                    <md-list-item ng-repeat="condition in conditions_vm.conditionList track by condition.slug" ui-sref=".conditions_overview({cause_id:condition.slug})" ui-sref-active="list_active"><md-button><div>{{condition.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>
                                </md-list>
                            </div>
                        </perfect-scrollbar>
                        <span class="data-not-found" ng-show="conditions_vm.conditionList.length==0 && (!conditions_vm.busy && !conditions_vm.isLoading)">Data not Found</span>
                    </div>
                  </div>
                </div>
            </div>
        </md-card-content>
        <md-progress-linear md-mode="indeterminate" ng-show='conditions_vm.busy' style="position: absolute; top:98.5%;"></md-progress-linear>
    </md-card>
</div>

<ui-view></ui-view>
