<div class="sanitize_data" ng-repeat="overview in allsymptom_condition_vm.conditionsOveriew" style="font-size:15px; overflow:hidden; white-space: normal;">

        <div>
              <h3>Related Images</h3>
                <div layout="row">
                  <img flex="33" ng-repeat="image in overview.images" ng-click="allsymptom_condition_vm.openImageViewer(image.desktop_url, image.title)" src="{{image.thumbnail_url}}" class="img img-thumbnail"/><hr/>
                </div>

                <!-- **** For Show Image****-->
              <div ng-show="allsymptom_condition_vm.isImageViewerShow" style="position:fixed; top:0px; left:0px; width:100%; height:800px; background:rgba(0, 0, 0, 0.5); z-index:110"><div style="margin:10% auto; max-width:500px; background:white; padding:10px"><h4 style="float:left; color:black">{{allsymptom_condition_vm.imageViewerTitle}}</h4><md-button class="close_btn" ng-click="allsymptom_condition_vm.closeImageViewer()"  style="float:right; margin-top:-2%;"><img src="lib/image/angularSvgImg/icons/close.svg" style="width:25px"/></md-button><img src="{{allsymptom_condition_vm.imageViewerPath}}" style="width:100%; height:100%; max-height:400px; margin:0% auto;"/></div></div>

              <h3>Related Videos</h3>
                <div layout="row">
                  <img flex="33" ng-repeat="video in overview.videos" src="{{video.thumbnail_url}}" class="img img-thumbnail" ng-click="allsymptom_condition_vm.openVideoViewer(video.player_links, video.title)"/><hr/>
                </div>

                <!-- **** For Show Video****--> 
                  <div ng-show="allsymptom_condition_vm.isVideoViewerShow" style="position:fixed; top:0px; left:0px; width:100%; height:800px; background:rgba(0, 0, 0, 0.5); z-index:110"><div style="margin:10% auto; max-width:500px; background:white; padding:10px"><h4 style="float:left; color:black; width:80%;">{{allsymptom_condition_vm.imageViewerTitle}}</h4><md-button class="close_btn" ng-click="allsymptom_condition_vm.closeVideoViewer()"  style="float:right; margin-top:-2%;"><img src="lib/image/angularSvgImg/icons/close.svg" style="width:25px"/></md-button><youtube-video video-url="allsymptom_condition_vm.imageViewerPath" style="width:100%; max-height:400px; margin:0% auto;"/></youtube-video></div></div>

            </div>
        </div>