
<!-- add new condition here-->
<div class="avatar symptom-cause" layout="column" flex  ng-show="myconditionsoverview_vm.myConditionFilterOrForm">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Add New Condition</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myconditionsoverview_vm.closeView()" style="margin-top:-3%">
                  <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>

        <md-card-content>
           <md-content md-theme="docs-dark"  class="search-bar">
               <md-input-container>
                  <label style="color: #f5f5f5;border-color: rgba(245, 31, 31, 0.12);">Enter condition name to add</label>
                 <input ng-model="myconditionsoverview_vm.filterList"  ng-change="myconditionsoverview_vm.filterListChange(myconditionsoverview_vm.filterList)" autofocus maxlength="100" ng-readonly="myconditionsoverview_vm.disabled"><!--ng-model="symptom_all_vm.filterList" ng-change="symptom_all_vm.filterListChange(symptom_all_vm.filterList)" autofocus focus ng-readonly="symptom_all_vm.isDisabled"-->
               </md-input-container>
           </md-content>
           <md-progress-circular  class="md-hue-2 loading" md-mode="indeterminate" ng-show="myconditionsoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar style="padding-top: 12%;" ng-style="myconditionsoverview_vm.viewheight" class="scroller symptoms-bar_blank_div" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view">
                    <md-list class="list_view">
                        <md-list-item ng-repeat="condition in myconditionsoverview_vm.conditionList track by condition.slug" ng-click="myconditionsoverview_vm.sendMyCondition(condition.name)"><md-button><div>{{condition.name}}</div></md-button><span class="glyphicon glyphicon-chevron-right pull-right glyphicon-custom"></span><md-divider></md-divider></md-list-item>

                        <!--<md-list-item></md-list-item>-->
                        <md-content style="background: rgba(244, 238, 239, 1)">
                            <div layout="row" >
                                <div flex="100">
                                    <h2 class="myfilterList" layout="row">
                                        <span flex="85" ng-if="myconditionsoverview_vm.filterList == null ">{{ myconditionsoverview_vm.filterList }}</span>
                                        <md-button flex="15" class="md-raised md-primary bg-green" ng-if="myconditionsoverview_vm.filterList == null ">Add</md-button>

                                        <span flex="85" ng-if="myconditionsoverview_vm.filterList != null ">{{ myconditionsoverview_vm.filterList }}</span>
                                        <md-button flex="15" class="md-primary md-raised bg-green" ng-if="myconditionsoverview_vm.filterList != null " ng-click="myconditionsoverview_vm.sendMyCondition(myconditionsoverview_vm.filterList)">Add</md-button>
                                    </h2>
                                </div>
                                
                            </div>

                        </md-content>

                      </md-list>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>

<!-- saved condition page -->
<div class="avatar symptom-cause" layout="column" flex  ng-show="!myconditionsoverview_vm.myConditionFilterOrForm">
    <md-card class="cards tile">
        <div layout="row" class="header_bar">
            <md-subheader class="md-no-sticky" flex="90">
                <div class="container_title"><b>Saved Condition</b></div>
            </md-subheader>
            <div flex="10" layout="center center" class="margin-top-bottom">
                <md-button class="md-icon-button md-primary pull-right close_btn" aria-label="Settings" ng-click="myconditionsoverview_vm.closeView()" style="margin-top:-3%">
                    <md-icon md-svg-icon="{{static_path}}lib/image/angularSvgImg/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </div>

        <md-card-content>
           <md-content md-theme="docs-dark"  class="search-bar" layout-padding>
               <h3 class="subcontainer_title">{{ myconditionsoverview_vm.myConditionFormData.condition }}</h3>
           </md-content>
           <md-progress-circular  class="md-hue-2 loading" md-mode="indeterminate" ng-show="myconditionsoverview_vm.isLoading"></md-progress-circular>
              <perfect-scrollbar  ng-style="myconditionsoverview_vm.viewheight" class="scroller " wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
                <div class="symptoms-bar_list_view" style="padding-top: 15%;">
                    <div layout="column" layout-padding>
                        <h3>Details</h3>
                        <md-content layout-padding class="autoScroll">
                            <form name="myConditionForm"><!--{{ myconditionsoverview_vm.formName }}-->
                                <md-input-container>
                                  <label>Date</label>
                                  <input type="text" ng-model="myconditionsoverview_vm.myConditionFormData.date" required max="{{myconditionsoverview_vm.myConditionFormData.today}}" name = "date" date-picker>
                                </md-input-container>

                                <md-input-container >
                                  <!--<md-icon md-svg-src="static/lib/image/icons/ic_person_24px.svg" class="name"></md-icon>-->
                                  <label>Doctor</label>
                                  <input ng-model="myconditionsoverview_vm.myConditionFormData.doctor" type="text" maxlength="100" required name="doctor">
                                </md-input-container>

                                <md-input-container>
                                    <label>Note</label>
                                    <textarea ng-model="myconditionsoverview_vm.myConditionFormData.note" columns="1" md-maxlength="500" name="note"></textarea>
                                </md-input-container>

                                <section layout="row"  layout-align="center center" layout-margin>
                                    <md-button ng-show="myconditionsoverview_vm.isNewCondition" ng-disabled="!myconditionsoverview_vm.isNewCondition || myCondition_form.doctor.$error.required" flex ="33" class="md-raised md-primary bg-green" ng-click="myconditionsoverview_vm.submitMyCondition()">Save</md-button>
                                    <md-button ng-hide="myconditionsoverview_vm.isNewCondition" flex ="33" class="md-raised md-primary bg-green" ng-click="myconditionsoverview_vm.updateMyCondition()">Update</md-button>
                                    <md-button flex ="33" class="md-raised md-warn" ng-click="myconditionsoverview_vm.clearForm(myConditionFormData)">Reset</md-button>

                                    <md-button ng-hide="myconditionsoverview_vm.isNewCondition" flex ="33" class="md-raised md-warn"  ng-click="myconditionsoverview_vm.showConfirm($event)">Delete</md-button>


                                </section>

                            </form>
                        </md-content>
                   </div>
                </div>
              </perfect-scrollbar>
        </md-card-content>
    </md-card>
</div>
<ui-view></ui-view>








